/.dockerignore
/.gitignore
/Dockerfile
/docker-compose.yml
/venv/*
/staticfiles/*
/.git/*
/static/*
/.idea/*
/./assets/*
/db.sqlite3
/config/.env
/*/migrations/*
/_pycache_/*
/readme.md
/docker_build_auto.*
/logs
/*/sample.json