/.dockerignore
/.gitignore
/Dockerfile
/docker-compose.yml
/venv/*
/staticfiles/*
/.git/*
/static/*
/.idea/*
/./assets/*
/config/.env
/*/migrations/*
/_pycache_/*
/readme.md
/docker_build_auto.*
/logs
/*/sample.json
temp/*
/.env/*
/.pdm-build/*
.pdm-python
/__pycache__/*
/pyproject.toml
