<ul class="nav nav-pills flex-column pt-2 text-center" id="menulist">
    <li class="nav-item">
        <a class="nav-link btn btn-light" href="/"><i class="bi bi-speedometer"></i>&nbsp;&nbsp;统计报表</a>
    </li>
    <li class="nav-item pt-1">
        <a class="nav-link btn btn-light" href="{% url 'test3' %}"><i class="bi bi-speedometer"></i>&nbsp;&nbsp;统计报表-2</a>
    </li>
    <hr>
    <li class="nav-item pt-1">
        <a class="nav-link btn btn-light" href="/admin"><i class="bi bi-gear-fill"></i>&nbsp;&nbsp;后台系统管理</a>
    </li>
    <!-- 添加更多链接 -->
</ul>