{% load static %}
<!doctype html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} | alsoapp.com{% endblock %}</title>
    <link href="{% static 'hipmessageservice/bootstrap.min.css' %}" rel="stylesheet">
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">#}
    <link href="{% static 'hipmessageservice/bootstrap-icons.min.css' %}" rel="stylesheet">
    {#  自定义样式  #}
    {% block ext_style %}{% endblock %}
</head>
<body>
{# body 内容 #}
{% block body %} {% endblock %}

<script src="{% static 'hipmessageservice/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'hipmessageservice/bootstrap.min.js' %}"></script>
{% block ext_js %}{% endblock %}
</body>
</html>